# .env.example
PROJECT_NAME="Smoke-Divers-Hub-breath-service"
VERSION="0.0.1"
ENVIRONMENT=prod
POSTGRESQL_HOST=localhost
POSTGRESQL_PORT=5432
POSTGRESQL_USER=user
POSTGRESQL_PASSWORD=********
POSTGRESQL_DBNAME=db
